@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  mark {
    @apply bg-accent text-accent-content;
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }
}

@layer components {
  .features {
    @apply flex items-center justify-center gap-6 flex-wrap;
    @apply relative max-w-[1280px] mx-auto;
  }

  .feature-card {
    @apply w-[380px] max-w-[380px] lg:h-[380px] bg-[#F4F4F4] rounded-3xl;
    @apply border-l border-transparent duration-200 whitespace-pre-line text-center;
    @apply flex flex-col items-center justify-start gap-8 py-10 px-8 lg:px-12;
  }
  
  .hero-text h2 {
    @apply font-semibold text-[20px] py-2;
  }
  
  .hero-text h3 {
    @apply font-medium text-[18px] py-2;
  }
  
  .hero-text h4 {
    @apply font-medium text-[16px] py-2;
  }
  
  .hero-text h5 {
    @apply font-medium text-[16px] py-2;
  }

  .hero-text strong {
    @apply font-bold;
  }

  .hero-text ol {
    @apply list-decimal px-4;
  }

  .hero-text ul {
    @apply list-disc px-4;
  }

  .hero-text a {
    @apply underline decoration-solid;
  }
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%
  }

  to {
    --dot-progress: 100%
  }
}